In [1]:
import sqlalchemy
import pandas as pd

In [2]:
from sqlalchemy import create_engine

user = 'postgres'
password = 'blah13'
host = 'localhost'
port = '5432'
database = 'postgres'

db_string = f"postgres://{user}:{password}@{host}:{port}/{database}"
db_string

'postgres://postgres:blah13@localhost:5432/postgres'

In [3]:
db = create_engine(db_string)

In [4]:
db.execute("CREATE TABLE IF NOT EXISTS films (title text, director text, year text)")

In [5]:
query = """
SELECT * FROM films
"""

res = db.execute(query)
for r in res:
    print(r)

('Interesting title', 'Fascinating director', '2222')

In [6]:
query = """
SELECT * FROM films
"""
pd.read_sql(query,db)

               title              director  year
0  Interesting title  Fascinating director  2222

In [7]:
query = """
INSERT INTO films (title, director, year)
VALUES ('Doctor Strange', 'Scott Derrickson', '2016'), ('Interesting title', 'Fascinating director', '2222')
"""
db.execute(query)

In [8]:
query = """
SELECT * FROM films
"""
pd.read_sql(query,db)

               title              director  year
0  Interesting title  Fascinating director  2222
1     Doctor Strange      Scott Derrickson  2016
2  Interesting title  Fascinating director  2222

In [9]:
# Update
query = """
UPDATE films
SET title='Some2016Film'
WHERE year='2016'
"""

db.execute(query)

In [10]:
query = """
SELECT * FROM films
"""
pd.read_sql(query,db)

               title              director  year
0  Interesting title  Fascinating director  2222
1  Interesting title  Fascinating director  2222
2       Some2016Film      Scott Derrickson  2016

In [11]:
# Delete
query = """
DELETE
FROM films
WHERE year='2016'
"""
db.execute(query)

In [12]:
query = """
SELECT * FROM films
"""
pd.read_sql(query,db)

               title              director  year
0  Interesting title  Fascinating director  2222
1  Interesting title  Fascinating director  2222

In [13]:
query = """DROP table films"""
db.execute(query)

In [14]:
query = """
SELECT * FROM films
"""
pd.read_sql(query,db)

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "films" does not exist
LINE 2: SELECT * FROM films
                      ^

[SQL:
SELECT * FROM films
]
(Background on this error at: http://sqlalche.me/e/13/f405)

## Now loading from CSV

In [15]:
table_structure = "films (title text, director text, year text)"
query = f"""CREATE TABLE IF NOT EXISTS {table_structure}"""

db.execute(query)

In [16]:
query = """
SELECT * FROM films
"""
pd.read_sql(query,db)

Empty DataFrame
Columns: [title, director, year]
Index: []

In [17]:
table_headers = "films (title, director, year)"
path_to_data = "'C:\\Users\\Dan\\Desktop\\films_file.csv'"
# path_to_data = "'C:/Users/Dan/Desktop/films_file.csv'"
query = f"""COPY {table_headers}
FROM {path_to_data}
DELIMITER ','
CSV HEADER;"""
db.execute(query)

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) could not open file "C:\Users\Dan\Desktop\films_file.csv" for reading: Permission denied
HINT:  COPY FROM instructs the PostgreSQL server process to read a file. You may want a client-side facility such as psql's \copy.

[SQL: COPY films (title, director, year)
FROM 'C:\Users\Dan\Desktop\films_file.csv'
DELIMITER ','
CSV HEADER;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [91]:
query = """
SELECT * FROM films
"""
pd.read_sql(query,db)

Empty DataFrame
Columns: [title, director, year]
Index: []